* {
  box-sizing: content-box;
  font-family: 'Roboto', san-serif;
}

.logo-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px;
  height: 150px;
}

.project-container {
  width: 100%;
  height: 450px;
  text-align: center;
  background: linear-gradient(to bottom, #008ce3, #FFFFFF 100%);
  border: 1px solid black;
}

.task-entry {
  width: 50%;
  height: 45px;
  border-radius: 10px;
  display: inline-block;
  background: linear-gradient(to top, #008ce3, #FFFFFF 100%);
  border: 1px solid grey;
  font-size: 25px;
}

.task-span {
  vertical-align: middle;
}

.complete-button {
  height: 45px;
  border-radius: 10px;
  background: linear-gradient(to top, #008ce3, #FFFFFF 100%);
  border: 1px solid grey;
  font-size: 25px;
}

